/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.editorconfig
cron.sh
app/Services/Payment
public/build
public/uploads
public/media
public/vendor
app/Console/Commands/NotifyOldUsers.php
app/Console/Commands/TransferUsers.php