.blog {
  .blog-section {
    padding: 80px 0 120px;

    @media (max-width: 768px) {
      padding: 40px 0 80px;
    }
  }

  .blog-title {
    font-family: $second-family;
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 48px;
      margin-bottom: 30px;
    }
  }

  .popular-posts {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .col {
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.decorate-title {
  display: flex;
  align-items: center;
  font-family: $second-family;
  font-weight: 400;
  font-size: 40px;
  white-space: nowrap;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 32px;
  }

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: $black;
    margin-left: 30px;
  }
}

.post {
  margin-bottom: 40px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  &:hover {
    .thumb {
      img {
        transform: scale(1.2);
      }
    }
  }

  .text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    color: initial;
  }

  .thumb {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    img {
      transition: all 0.4s ease;
      transform: scale(1);
    }
  }
}

.post-middle {
  .title {
    font-family: $second-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    color: $black;

    &:hover {
      color: $red;
    }
  }
}

.post-small {
  .title {
    font-family: $second-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: $black;
    margin-bottom: 8px;

    &:hover {
      color: $red;
    }
  }
}

.post-big {
  display: flex;
  flex-direction: column;

  .text {
    width: 50%;
    margin-left: auto;

    @media (max-width: 1024px) {
      width: 100%;
      margin-left: 0;
    }
  }

  .title {
    font-family: $second-family;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;

    @media (max-width: 1024px) {
      font-size: 28px;
    }

    &:hover {
      color: $red;
    }
  }

  .content {
    position: absolute;
    bottom: 40px;
    left: 44px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1024px) {
      max-width: 60%;
      bottom: 20px;
      left: 20px;
    }

    @media (max-width: 520px) {
      max-width: 90%;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* 4 columns for the 25% and 50% items */
  gap: 20px;
}

.grid-item.w25 {
  grid-column: span 1; /* 25% width (1/4 of the grid) */
}
.grid-item.w50 {
  grid-column: span 2; /* 50% width (2/4 of the grid) */
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
  .grid-item.w25 {
    grid-column: span 2; /* Full width in 2 column layout */
  }
  .grid-item.w50 {
    grid-column: span 2; /* Full width in 2 column layout */
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column on very small screens */
  }
  .grid-item.w25,
  .grid-item.w50 {
    grid-column: span 1; /* Full width in single column layout */
  }
}

.blog-single {
  .blog-section {
    padding-bottom: 180px;

    @media (max-width: 768px) {
      padding-bottom: 80px;
    }
  }
}

.post-single {
  .thumb {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 720px;
    margin-bottom: 60px;
    padding: 0 20px;

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
      opacity: 0.7;
    }

    .title {
      margin: auto auto 60px auto;
      max-width: 800px;
      font-weight: 400;
      font-size: 64px;
      line-height: 1.2;
      color: #fff;
      font-family: $second-family;
      z-index: 3;
      position: relative;

      @media (max-width: 768px) {
        font-size: 48px;
        margin-bottom: 30px;
      }
    }
  }

  .post-content {
    max-width: 800px;
    margin: 0 auto 100px;
    padding: 0 20px;

    h2 {
      font-weight: 400;
      font-size: 32px;
      line-height: 1.3;
      font-family: $second-family;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.3;
      font-family: $second-family;
      margin-bottom: 20px;
    }

    h6 {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
      margin-top: 0;
    }

    ul {
      @include ul-red;
      margin-bottom: 60px;

      li {
        color: $black;
      }
    }

    blockquote {
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      padding-left: 20px;
      margin-left: 20px;
      border-left: 2px solid $red;
      margin-bottom: 30px;
      margin-top: 20px;
    }

    img {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
}
